@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Alatsi&display=swap");
* {
  margin: 0;

  padding: 0;

  box-sizing: border-box;

  line-height: 2rem;
}
body {
  display: flex;
  flex-wrap: wrap;
  background-color: hsl(212.73deg 21.57% 90%);
}
header {
  width: 100%;

  background-color: #fff;
  display: flex;

  padding: 1rem 12rem;
}
.logo {
  width: 60%;

  display: flex;
  align-items: flex-start;
}
.bars {
  width: 40%;

  display: flex;
  flex-direction: column;
  padding: 1rem 12rem;
  align-items: flex-end;
  gap: 7px;

  .bar1 {
    width: 27px;
    height: 3px;
    background-color: rgb(236 86 61);
  }
  i {
    color: rgb(236 86 61);
    font-size: 23px;
  }
}
.hero {
  width: 100%;
  height: 105vh;

  display: flex;
  padding-left: 12rem;

  .works {
    width: 35%;

    padding-left: 0rem;
    padding-top: 8rem;
    gap: 28px;
    display: flex;
    flex-direction: column;
  }
  .ball {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: hsl(8.57deg 82.16% 58.24%);
  }
  h1 {
     font-family: "Raleway", sans-serif;
     letter-spacing: 3px;
     font-size: 70px;
     font-weight: 500;
  }
  P {
    letter-spacing: 2px;
    font-weight: 500;
    font-family: "PT Sans", sans-serif;
  }
  a {
    color: black;
  }
  button {
    width: 156px;
    height: 61px;
    background-color: black;
    color: #fff;
    word-spacing: -2px;
    letter-spacing: 4px;
    font-family: "PT Sans", sans-serif;
  }
}

.img2 {
  width: 85%;
  height: 105vh;
  display: flex;
  background-image: url("./OT12YY1-min.png");
  background-position: center;
  background-size: cover;
}

.section {
  background-color: hsl(8.57deg 82.16% 58.24%);
  width: 100%;
  padding: 1rem 12rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 99px;
  h1 {
    width: 100%;
    padding-top: 3rem;
    padding-left: 7rem;
    font-size: 76px;
    font-family: "PT Sans", sans-serif;
    color: #fff;
  }
  ul {
    width: 21.6666666%;
    list-style-type: "+";
    list-style-position: inside;
    padding: 2rme 50%;
    font-size: 20px;
    color: #fff;
    font-family: "PT Sans", sans-serif;
  }
  li {
    font-weight: 100;
    line-height: 3rem;
    font-family: "PT Sans", sans-serif;
  }
}

.section2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 75px;

  h1 {
    padding-left: 35rem;
    padding-top: 8rem;
    font-size: 100px;
    font-family: "PT Sans", sans-serif;
    width: 100%;
    font-weight: 500;
  }
  p {
    font-family: "PT Sans", sans-serif;
    padding-left: 27rem;
    padding-right: 7rem;
    line-height: 1rem;
    font-size: 18px;
    width: 78%;
  }
}
.pgg {
  background-color: #fff;
  display: flex;
  width: 100%;
  position: relative;
  min-height: 190vh;
  justify-content: flex-end;
  align-items: baseline;

  .hl {
    position: absolute;
    width: 502px;
    top: -143px;
    left: 920px;
    padding: 50px;
    padding-top: 37px;
    font-family: "PT Sans", sans-serif;
  }
  h2 {
    position: absolute;
    top: 206px;
    left: 1133px;
    color: #fff;
    font-family: "PT Sans", sans-serif;
  }
}
.tyl {
  display: flex;
  position: relative;
  background-color: #fff;
  width: 100%;
  .hna {
    width: 30rem;
    position: absolute;
    top: -101pc;
    left: 524px;
    padding: 39px;
  }
  h2 {
    position: absolute;
    color: #fff;
    top: -79pc;
    left: 648px;
    font-family: "PT Sans", sans-serif;
  }
}
.ulq {
  display: flex;
  background-color: #fff;
  width: 100%;
  position: relative;
  .ph {
    width: 496px;
    position: absolute;
    top: -101pc;
    padding: 48px;
    left: 109px;
    padding-top: 37px;
  }
  h2 {
    position: absolute;
    top: -80pc;
    left: 15pc;
    color: #fff;
    font-family: "PT Sans", sans-serif;
  }
}
.ty5 {
  width: 100%;
  position: relative;
  background-color: #fff;
  .ph {
    width: 30rem;
    padding: 2rem;
    position: absolute;
    top: -5px;
  }
  h2 {
    position: absolute;
    top: -4px;
    font-family: "PT Sans", sans-serif;
  }
}
.ula1 {
  width: 100%;
  position: relative;
  .ph {
    width: 498px;
    padding: 49px;
    position: absolute;
    top: -74pc;
    left: 923px;
  }
  h2 {
    position: absolute;
    top: -53pc;
    left: 63pc;
    color: #fff;
    font-family: "PT Sans", sans-serif;
  }
}
.fgf {
  width: 100%;
  position: relative;
  .ph {
    width: 463px;
    height: 52vh;
    padding: 29px;
    top: -73pc;
    left: 533px;
    padding-bottom: 0px;
    position: absolute;
  }
  h2 {
    position: absolute;
    top: -53pc;
    left: 39pc;
    color: #fff;
    font-family: "PT Sans", sans-serif;
  }
}
.fff {
  width: 100%;
  position: relative;
  .ph {
    width: 488px;
    position: absolute;
    height: 59vh;
    padding: 41px;
    padding-bottom: -3px;
    top: -74pc;
    left: 110px;
  }
  h2 {
    position: absolute;
    top: -53pc;
    left: 256px;
    color: #fff;
    font-family: "PT Sans", sans-serif;
  }
}
.rgp {
  width: 100%;
  position: relative;
  .ph {
    width: 405px;
    position: absolute;
    top: -740px;
    left: 967px;
  }
  h2 {
    position: absolute;
    top: -403px;
    left: 1097px;
    color: #fff;
    font-family: "PT Sans", sans-serif;
  }
}
.stor {
  position: relative;
  width: 100%;
  .ph {
    width: 405px;
    position: absolute;
    top: -738px;
    height: 52vh;
    left: 558px;
  }
  h2 {
    position: absolute;
    top: -408px;
    left: 681px;
    color: #fff;
    font-family: "PT Sans", sans-serif;
  }
}
.sst {
  position: relative;
  width: 100%;
  .ph {
    width: 407px;
    position: absolute;
    height: 52vh;
    top: -738px;
    left: 146px;
  }
  h2 {
    position: absolute;
    top: -408px;
    left: 270px;
    color: #fff;
    font-family: "PT Sans", sans-serif;
  }
}
.link {
  width: 100%;
  position: relative;
  p {
    position: absolute;
    top: -158px;
    left: 655px;
    font-size: 22px;
    font-family: "PT Sans", sans-serif;
  }
  a {
    color: black;
    font-family: "PT Sans", sans-serif;
  }
}
.footer {
  width: 50%;
  background-color: #292e33;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 12rem;
  flex-direction: column;
  gap: 22px;
  
  
  
  
  
  
  
  h4 {
    width: 100%;
    color: #fff;
    letter-spacing: 4px;
    font-family: "PT Sans", sans-serif;
    line-height: 20px;
  }
  h2 {
    width: 100%;
    color: #fff;
    font-size: 56px;
    font-family: "PT Sans", sans-serif;
    font-weight: 500;
  }
  p {
    color: #fff;
    font-family: "PT Sans", sans-serif;
  }
}

form {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  gap: 20px;

  background-color: #292e33;

  .name {
    width: 80%;
     font-family: "PT Sans", sans-serif;
  }
  .emali {
    width: 80%;
     font-family: "PT Sans", sans-serif;
  }
  .ms {
    width: 80%;
     font-family: "PT Sans", sans-serif;
     font-size: 19px;

    
    padding-bottom: 128px;
     font-family: "PT Sans", sans-serif;
  }
  button{
    width: 80%;
    color: #fff;
    background-color: #292e33;
    border: solid white;
    font-family: "PT Sans", sans-serif;

  }
  .icon{
    width: 100%;
    display: flex;
    gap: 20px;
    margin-top: 1rem;
    padding: 2rem 2rem;
  }
  i{
    color: #fff;
    font-size: 20px;
  }
}
.end{
    width: 100%;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 126px;
    p{
        color: #fff;
        width: 50%;
        padding: 2rem 12rem;
        font-family:"PT Sans", sans-serif; 
        text-align: center;

    }
    a{
        color:#f7b9ae;
    }
}
